@mixin flex ($justify, $align, $direction, $wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}

@mixin img($bg, $width, $height, $position) {
    background-image: $bg;
    width: $width;
    height: $height;
    background-position: $position;
    background-size: cover;
    background-repeat: no-repeat;
    
}