@mixin flex ($justify, $align, $direction, $wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}

@mixin img($bg, $width, $height, $position) {
    background-image: $bg;
    width: $width;
    height: $height;
    background-position: $position;
    background-size: cover;
    background-repeat: no-repeat;
    
}

@mixin btn($bg, $color) {
    background: $bg;
    padding: 10px 25px;
    font-size: 1.1rem;
    color: $color;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    
}

@mixin line {
    display: block;
    content: "";
    margin: 10px auto;
    background: $yellow;
    width: 100px;
    height: 4px;
    
}