@mixin btn {
    padding: 5px 20px;
    font-size: 1.2rem;
    border: 2px solid $blue;
    background: none;
    color: $blue;
    &:hover{
        background: $buttonHover;
        transition: $transition;
        color: $white;
    }
}

@mixin btn1 {
    padding: 15px 30px;
    background: $blue;
    border: none;
    color: $white;
    font-size: 1.3rem;
    &:hover{
        background: $darkBlue;
        transition: $transition;
    }
}

@mixin tools {
    flex: 0 0 30%;
    @media(max-width:768px){
        flex: 0 0 100%;
    }   
}

@mixin  flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}
