@import url("https://fonts.googleapis.com/css?family=Lato|Poppins:400,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.4s ease; }

.line, header h1::after, .products article:nth-child(2) h2::after, .products article:nth-child(3) h2::after, .contact h2::after, footer article h3::after {
  display: block;
  content: "";
  background-color: #ecd444;
  margin: 10px auto;
  width: 100px;
  height: 3px; }

.products-img, .products article:first-child, .products article:last-child {
  background-image: url(img/mac.jpg);
  background-position: center;
  background-size: cover;
  height: 45vh;
  flex: 0 0 45%; }
  @media (max-width: 768px) {
    .products-img, .products article:first-child, .products article:last-child {
      display: none; } }

.products-text, .products article:nth-child(2), .products article:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 55%;
  border-bottom: 1px solid #4e5062; }
  @media (max-width: 768px) {
    .products-text, .products article:nth-child(2), .products article:nth-child(3) {
      flex: 0 0 100%; } }

nav {
  background: linear-gradient(to right, #6e2594, #ecd444);
  text-align: center;
  padding: 10px 0; }
  nav ul {
    display: flex;
    justify-content: center; }
    nav ul li {
      padding: 0 25px; }
      @media (max-width: 768px) {
        nav ul li {
          padding: 0 10px; } }
      nav ul li a {
        color: #fff; }
        nav ul li a:hover {
          color: #6e2594; }
        nav ul li a i {
          font-size: 1.4rem; }
          nav ul li a i:hover {
            color: #ecd444;
            transition: 0.4s ease; }

header {
  background-image: linear-gradient(rgba(110, 37, 148, 0.9), rgba(110, 37, 148, 0.9)), url(img/header3.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    header {
      height: 80vh; } }
  header h1 {
    font-size: 4rem; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 3rem; } }
  header button {
    padding: 10px 20px;
    background-color: #fff;
    color: #6e2594;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 10px; }
    @media (max-width: 768px) {
      header button {
        padding: 10px 15px;
        font-size: 1rem; } }
    header button:hover {
      transition: 0.4s ease;
      background-color: #ecd444; }

.about {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .about {
      flex-direction: column; } }
  .about article {
    flex: 0 0 50%;
    padding: 50px;
    color: #fff; }
    .about article i {
      color: #ecd444;
      font-size: 2.4rem; }
    .about article h3 {
      color: #fff;
      padding: 10px 0; }
    .about article button {
      background: none;
      border: 2px solid #ecd444;
      color: #ecd444;
      padding: 10px;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 20px 0; }
      .about article button:hover {
        transition: 0.4s ease;
        background-color: #ecd444;
        color: #515365; }
    .about article:first-child {
      background-color: #515365; }
    .about article:nth-child(2) {
      background-color: #4e5062; }
    .about article:nth-child(3) {
      background-color: #4b4d5e; }
    .about article:last-child {
      background-color: #484a5a; }

.products {
  display: flex;
  flex-wrap: wrap; }
  .products article {
    padding: 50px; }
    .products article:nth-child(2) h2 {
      font-size: 2rem;
      letter-spacing: 2px; }
      .products article:nth-child(2) h2::after {
        margin: 10px 0;
        background-color: #4e5062; }
    .products article:nth-child(3) {
      border-bottom: none; }
      .products article:nth-child(3) h2 {
        font-size: 2rem;
        letter-spacing: 2px; }
        .products article:nth-child(3) h2::after {
          margin: 10px 0;
          background-color: #4e5062; }
    .products article:last-child {
      background-image: url(img/ipad.jpg); }

.contact {
  background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.6)), url(img/iphone.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  text-align: center; }
  @media (max-width: 768px) {
    .contact {
      height: 70vh; } }
  .contact h2 {
    font-size: 3rem;
    padding-top: 50px; }
    .contact h2::after {
      background-color: #6e2594;
      height: 4px; }
  .contact form {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact form input {
      padding: 10px 20px;
      background: #ecd444;
      width: 30%;
      border: none;
      margin-top: 10px;
      height: 50px; }

footer {
  background-color: #444;
  padding: 50px;
  display: flex;
  color: #fff;
  justify-content: space-between; }
  footer article h3 {
    font-size: 1.6rem; }
    footer article h3::after {
      margin: 10px 0; }
  footer article:first-child {
    flex: 0 0 45%; }
    footer article:first-child button {
      background: none;
      border: 2px solid #ecd444;
      color: #ecd444;
      padding: 10px;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 20px 0; }
      footer article:first-child button:hover {
        transition: 0.4s ease;
        background-color: #ecd444;
        color: #515365; }
  footer article:last-child {
    flex: 0 0 45%;
    color: #fff; }
    footer article:last-child a {
      color: #fff; }
      footer article:last-child a i {
        padding: 15px 0; }

/*# sourceMappingURL=style.css.map */
