// GOOGLE FONT
@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:400,700&display=swap');

// VARIABLES
$gray1: #515365;
$gray2: #4e5062;
$gray3: #4b4d5e;
$gray4: #484a5a;
$purple: rgb(110, 37, 148);
$yellow: #ecd444;
$white: #fff;
$text: #444;
$transition: .4s ease;
$padding:50px;
$font:16px;

// DAFAULT STYLES
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: $font;
    color: $text;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Poppins', sans-serif;
}

ul
{
    list-style-type: none;
}
a 
{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.line
{
    display: block;
    content: "";
    background-color: $yellow;
    margin: 10px auto;
    width: 100px;
    height: 3px;
}
.products-img{
    background-image: url(img/mac.jpg);
    background-position: center;
    background-size: cover;
    height: 45vh;
    flex: 0 0 45%;
    @media(max-width:768px){
        display: none;
    }
}

.products-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 55%;
    border-bottom: 1px solid $gray2;
    @media(max-width:768px){
        flex: 0 0 100%;
    }
}

// MIXINS
@mixin btn 
{
    padding: 10px 20px;
    background-color: $white;
    color: $purple;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 10px;
    @media(max-width:768px){
        padding: 10px 15px;
        font-size: 1rem;
    }
    &:hover{
        transition: $transition;
        background-color: $yellow;
    }   
}

@mixin btn1 {
    background: none;
    border: 2px solid $yellow;
    color: $yellow;
    padding: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 20px 0;
    &:hover{
        transition: $transition;
        background-color: $yellow;
        color: $gray1;
    }
}

// NAV
nav
{
    background: linear-gradient(to right, $purple, $yellow);
    text-align: center;
    padding: 10px 0;
    ul{
        display: flex;
       justify-content: center;
       li{
           padding: 0 25px;
           @media(max-width:768px){
               padding:0 10px;
           }
           a{
               color: $white;
               &:hover{
                   color: $purple;
               }
               i{
                   font-size: 1.4rem;
                   &:hover{
                       color: $yellow;
                       transition: $transition;
                   }
               } 
           }
       }
    }
}

// HEADER
header
{
    background-image: linear-gradient(rgba(110, 37, 148,.9), rgba(110, 37, 148,.9)), url(img/header3.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    @media(max-width:768px){
        height: 80vh;
    }
    h1{
        font-size: 4rem;
        @media(max-width:768px){
           font-size: 3rem;
        }
        &::after{
            @extend .line;
        }
    }
    button{
        @include btn();
    }
}

// ABOUT
.about
{
    display: flex;
    flex-wrap: wrap;
    @media(max-width:768px){
        flex-direction: column;
    }
    article{
        flex: 0 0 50%;
        padding: $padding;
        color: $white;
        i{
            color: $yellow;
            font-size: 2.4rem;
        }
        h3{
            color: $white;
            padding: 10px 0;
        }
        button{
            @include btn1();
        }
        &:first-child{
            background-color: $gray1;
        }
        &:nth-child(2){
            background-color: $gray2;
        }
        &:nth-child(3){
            background-color: $gray3;
        }
        &:last-child{
            background-color: $gray4;
        }
    }
  
}

// PRODUCTS
.products
{
    display: flex;
    flex-wrap: wrap;
    article{
        padding: $padding;
        &:first-child{
           @extend .products-img;
        }
        &:nth-child(2){
           @extend .products-text;
            h2{
                font-size: 2rem;
                letter-spacing: 2px;
                &::after{
                    @extend .line;
                    margin: 10px 0;
                    background-color: $gray2;
                }
            }
        }
        &:nth-child(3){
            @extend .products-text;
            h2{
                font-size: 2rem;
                letter-spacing: 2px;
                &::after{
                    @extend .line;
                    margin: 10px 0;
                    background-color: $gray2;
                }
            }
        }
        &:last-child{
           @extend .products-img;
           background-image: url(img/ipad.jpg);
        }
    }
}

