/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');


/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-size: $fontSize;    
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Kaushan Script', cursive;
}

ul{
    list-style-type: none;
}
 
a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.line{
    content: "";
    display: block;
    background-color: $red;
    margin: 10px 0;
    width: 100px;
    height: 2px;
}


/*---------------------------------
    HEADER
-----------------------------------*/
header{
    @include img (url(../img/header.jpg), 100%, 100vh);

    /*--------------------
    NAVBAR
    ---------------------*/
    nav{
        background-color: $white;
        @include flex(space-between, center, row, nowrap);
       position: relative;
       top: 30px;
       margin: auto;
       width: 95%;
       padding: 10px 20px;

       @media(max-width:768px){
           width: 100%;
           top: 0;
       }

       .logo{
        line-height: 0.9;
        color: $black;

        &::first-letter{
            color: $red;
        }

        span{
            font-size: 2.4rem;
            letter-spacing: 2px;
            font-weight: 700;
        }

       }

       ul{
           @include flex(center, center, row, nowrap);

           li{
               padding: 0 20px;

               @media(max-width:768px){
                   padding: 0 10px;
               }

               a{
                   text-transform: uppercase;
                   font-size: 1.2rem;
                   color: $gray;

                   &:hover{
                       color: $red;
                   }
               }
           }
       }
    }

    hgroup{
        @include flex(center, center, column, nowrap);
        height: 90vh;
        color: $black;
        text-align: center;
        padding: 0 20px;

        h1{
            padding-bottom: 10px;
            font-size: 3rem;
            letter-spacing: 2px;
            @media(max-width:768px){
                font-size: 1.8rem;
            }
        }

        p{
            font-size: 1.2rem;
            padding-bottom: 20px;
        }

        button{
          @include btn;
        }   
    }
}


/*--------------------
ABOUT
---------------------*/
.about{
    @include flex (center, center, row, wrap);

    article{
        flex: 0 0 50%;

        @media(max-width:768px){
            flex: 0 0 100%;
        }

        &:first-child{
            padding: 100px 20px;
            @include flex (center, flex-start, column, nowrap);

            p{
                &:first-child{
                    color: $red;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.2rem;
                    &::after{
                        @extend .line;
                    }
                } 
            }
        }

        &:last-child{
            
           img{
               width: 100%;
           }
        }

        h3{
            font-size: 1.5rem;
            padding: 10px 0px;
        }

        button{
            @include btn;
            margin-top: 20px;
        }

      
    }

}
/*--------------------
NUMBERS
---------------------*/

/*--------------------
PRODUCTS
---------------------*/

/*--------------------
BACKGROUND
---------------------*/

/*--------------------
GALLERY
---------------------*/

/*--------------------
FOOTER
---------------------*/