/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');


/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-size: $fontSize;    
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Kaushan Script', cursive;
}

ul{
    list-style-type: none;
}
 
a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.line{
    content: "";
    display: block;
    background-color: $red;
    margin: 10px 0;
    width: 100px;
    height: 2px;
}

/*--------------------
HEADER
---------------------*/

/*--------------------
NAVBAR
---------------------*/

/*--------------------
ABOUT
---------------------*/

/*--------------------
NUMBERS
---------------------*/

/*--------------------
PRODUCTS
---------------------*/

/*--------------------
BACKGROUND
---------------------*/

/*--------------------
GALLERY
---------------------*/

/*--------------------
FOOTER
---------------------*/