/*---------------------------------
   VARIABLES
-----------------------------------*/
$fontSize:16px;
$padding:50px 20px;
$transition: .4 ease;
$red:red;
$gray:rgb(167, 167, 167);
$white:white;
$black:black;