/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');


/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-size: $fontSize;    
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Kaushan Script', cursive;
}

ul{
    list-style-type: none;
}
 
a{
    text-decoration: none;
}

.line{
    content: "";
    display: block;
    background-color: $red;
    margin: 10px 0;
    width: 100px;
    height: 2px;
}

/*---------------------------------
    HEADER
-----------------------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


    nav{
        background-color: $white;
        @include flex(space-between, center, row, nowrap);
       position: relative;
       top: 30px;
       margin: auto;
       width: 95%;
       padding: 10px 20px;

       .logo{
        line-height: 0.9;
        color: $black;
        &::first-letter{
            color: $red;
        }

        span{
            font-size: 2.4rem;
            letter-spacing: 2px;
            font-weight: 700;
        }

       }

       ul{
           @include flex(center, center, row, nowrap);

           li{
               padding: 0 20px;
               @media(max-width:768px){
                   padding: 0 10px;
               }

               a{
                   text-transform: uppercase;
                   font-size: 1.2rem;
                   color: $gray;
                   &:hover{
                       color: $red;
                   }
               }

           }
       }

    }

    hgroup{
        @include flex(center, center, column, nowrap);
        height: 90vh;
        color: $white;
        text-align: center;
        padding: 0 20px;

        h1{
            padding-bottom: 10px;
            font-size: 3rem;
            letter-spacing: 2px;
            @media(max-width:768px){
                font-size: 1.8rem;
            }
        }

        p{
            font-size: 1.2rem;
            padding-bottom: 20px;
        }

        button{
          @include btn;
        }   
    }
}

/*---------------------------------
    ABOUT
-----------------------------------*/
.about{
    @include flex (center, center, row, wrap);

    article{
        flex: 0 0 50%;
        @media(max-width:768px){
            flex: 0 0 100%;
        }

        &:first-child{
            padding: 100px 20px;
            @include flex (center, flex-start, column, nowrap);

            p{
                &:first-child{
                    color: $red;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.2rem;
                    &::after{
                        @extend .line;
                    }
                }
               
            }
        }

        h3{
            font-size: 1.5rem;
            padding: 10px 0px;
        }

        button{
            @include btn;
            margin-top: 20px;
        }

        .responsive{
            width: 100%;
            height: auto;
            background-position: center;
            background-size: cover;
        }
    }

}

/*---------------------------------
    NUMBERS
-----------------------------------*/
.numbers
{
  background-image: url(img/section8.jpg);
  background-position: center;
  background-size: cover;
  @include flex(space-between, center, row, wrap);


  article{
      padding: $padding;
      flex: 0 0 22%;
      text-align: center;
      @media(max-width:768px){
          flex: 0 0 100%;
      }

      span{

          &:first-child{
              color: $red;
              font-size: 3rem;
              font-style: italic;
              font-weight: 700;
          }
      }

      p{
          font-weight: 700;
      }

      h4{
          padding: 10px 0;
          font-size: 1.4rem;
      }
  }  

}

/*---------------------------------
    BACKGROUND
-----------------------------------*/
 .background{
     background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(img/three.jpg);
     background-position: center;
     background-size: cover;
     height: 60vh;

     hgroup{
         @include flex(center, flex-end, column, nowrap);
         text-align: right;
         height: 60vh;
         padding-right: 50px;
         color: $white;

         P{
             &:first-child{
                 color: $red;
                 font-size: 1.4rem;
                 font-weight: 700;
             }
         }

         h3{
             padding: 20px 0;
             font-size: 2rem;
         }

         button{
             @include btn;
             margin-top: 20px;
         }
     }
 }

/*---------------------------------
    PRODUCTS
-----------------------------------*/
.products{
    padding: $padding;
    text-align: center;

    span{
        font-size: 1.4rem;
        color: $red;
    }

    h1{
        font-size: 3rem;
        padding: 20px 0;
    }

    .row{
        padding: 50px 0px;
        @include flex(space-evenly, center, row, wrap);
        width: 90%;
        margin: auto;

        article{
            padding: 10px 0;
            flex: 0 0 30%;
            &:hover{
                transform:rotate(360deg);
                transition-duration: 2s;
            }

            @media(max-width:768px){
                flex: 0 0 100%;
            }

            &:nth-child(2){
                box-shadow: 0 0 10px gray;
            }

            h4{
                font-size: 1.8rem;
            }

            ul{
                text-align: center;
                li{
                    font-size: 1.2rem;
                    padding: 10px 0;
                }
            }
        }
    }

}

/*---------------------------------
    GALLERY
-----------------------------------*/
.gallery{
    article{
        background-color: $red;
        height: 20vh;
        text-align: center;
        color: $white;
        @include flex (center, center, column, nowrap);
    
        P{
            font-weight: 600;
            font-size: 1.1rem;
        }

        h1{
            font-size: 2.4rem;
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 50% 25% 1fr;
        grid-template-rows: 50vh 50vh;
      

        span{
            &:hover{
                transform: scale(0.9);
                transition-duration: 1.5s;
            }

            &:first-child{
                @include grid(url(img/project3.jpg));
                grid-area: 1/1/3/2;
            }

            &:nth-child(2){
                @include grid(url(img/project9.jpg));
                grid-area: 1/2/2/3;
            
            }

            &:nth-child(3){
                @include grid(url(img/project4.jpg));
                grid-area: 2/2/3/3;  
            }

            &:nth-child(4){
                @include grid(url(img/project1.jpg));;
                grid-area: 1/3/2/4;    
            }

            &:nth-child(5){
                @include grid(url(img/project11.jpg));
                grid-area: 2/3/3/4;  
            }
        }
     
    }

    .row{
        background-color: $red;
        color: $white;
        text-align: center;
        padding: $padding;
        font-size: 1.5rem;

        i{
            color: rebeccapurple;
        }
    }
}