// VARIABLES
$fontFamily:'open sans', sans-serif;
$headingsFont:'Nunito', sans-serif;
$padding:60px 0px;
$transition: .4 ease;
$orange:rgb(251,175,50);
$green:rgb(113,154,10);
$white:#fff;
$gray:rgb(69,69,69);