// VARIABLES
$fontFamily:'open sans', sans-serif;
$headingsFont:'Nunito', sans-serif;
$padding:60px 0px;
$transition:  all ease-in-out 0.3;
$orange:rgb(251,175,50);
$green:rgb(99, 133, 15);
$white:#fff;
$gray:rgb(69,69,69);