/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';

/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


/*---------------------------------
    UNIVERSAL STYLES
-----------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------------------------------
    BASIC STYLES
-----------------------------------*/
body{
    font-family: $text;
    line-height: 1.5;
    font-size: $fontSize;
}

h1,h2,h3,h4,h5,h6{
    font-family: $headings;
}

.container{
    width: 90%;
    margin: auto;
}

.container1{
    width: 80%;
    margin: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $link;

    &:hover{
        transition: $transition;
    }
}

/*---------------------------------
    NAV
-----------------------------------*/

nav{
    background-color: $dark;

    .container{
      @include flex(space-between, center, row, wrap);
      padding: 25px 0px;

      @media(max-width:768px){
        justify-content: center;
    }
        .logo{
            color: $white;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
         
            &:hover{
                color: $primary;
            }
        }

        ul{
            @include flex(center, center, row, wrap);
            
            li{
                padding: 0px 15px;
                @media(max-width:768px){
                    padding: 0px 10px;
                }
                
                a{
                    color: $white;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    } 
}

/*---------------------------------
    HEADER
-----------------------------------*/

header{

    background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/hero-bg.jpg);
    @include img(89vh, 100%);
    // position: relative;

    hgroup{
        @include flex(center, center, column, wrap);
        height: 70vh;
        color: $white;
        text-align: center;
    
        span{
            color: $gray;
            font-size: 1.3rem;
        }

        h1{
            font-size: 3rem;
            padding: 10px 0px;

            @media(max-width:768px){
                font-size: 2rem;
            }
            
        }

        .buttons{

            button{

                &:first-child{
                    @include btn($dark, none, $white);

                    &:hover{
                        transition: $transition;
                        color: $primary;
                        background-color: $dark;
                    }
                }

                &:last-child{
                    @include btn(none, 1px solid $primary, $primary);

                    &:hover{
                        color: $white;
                        transition: $transition;
                    }
                }
            }
        }
    }
}

/*---------------------------------
    WORKS
-----------------------------------*/
.works{
    padding: $padding;
    background-color: $dark;
    color: $white;

    .container1{
        @include flex(space-evenly, center, row, wrap);

        article{

            &:first-child{
                flex: 0 0 45%;

                @media(max-width:768px){
                    flex: 0 0 100%;
                }

                h3{
                    font-size: 2rem;
                }

                span{
                    display: block;
                    padding: 10px 0px;
                    font-size: 1.1rem;
                }

                p{
                    padding: 20px 0px;
                    color: $gray;
                }

                button{
                    @include btn ($primary, none, $white);

                    &:hover{
                        background-color: $white;
                        color: $primary;
                        transition: $transition;
                    }
                }
                
            }

            &:last-child{
                flex: 0 0 45%;

                @media(max-width:768px){
                    flex: 0 0 100%;
                    margin-top: 50px;
                }

                h3{
                    font-size: 2rem;
                }

                p{
                    padding: 10px 0px;
                    font-weight: 700;
                }
            }
        }
    }
}

/*---------------------------------
    ABOUT
-----------------------------------*/
.about{
    padding: $padding;
    background-color: $aboutBgColor;

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 45%;

            @media(max-width:768px){
                flex: 0 0 100%;
            }

            h3{
                font-size: 2rem;
            }

            p{
                padding-top: 20px;
            }

            &:last-child{
                @include flex(space-between, center, row, nowrap);
            }

            .card{
                width: 45%;
                text-align: center;
                background-color: $white;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);

                @media(max-width:768px){
                    margin-top: 20px;
                }

                &:hover{
                    transform: scale(1.2);
                    transition-duration: 1.5s;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
                }

                h4{
                    font-size: 1.6rem;
                }
                
                p{
                    padding-bottom: 20px;
                }
            }
        }
    }
}