/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';
@import 'partials/_default';
@import 'partials/_nav';
@import 'partials/_header';
@import 'partials/_works';
@import 'partials/_training';
@import 'partials/_about';
@import 'partials/_contact';
@import 'partials/_footer';



