// VARIABLES FILE
@import 'variables.scss';

// MIXINS FILE
@import 'mixins.scss';


// DEFAULT STYLES

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: $fontFamily;
    line-height: 1.6;
    color: $fontColor;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 80%;
    margin: auto;
}

// NAV
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    @media(max-width:768px){
        flex-direction: column; 
    }

    ul{
        display: flex;

        li{
            padding: 0px 20px;
            @media(max-width:768px){
                padding: 0 10px;  
            }

            a{
               color: $darkBlue;
               font-weight: 700;
               font-size: 1.2rem;
               &:hover{
                   color: $blue;
               }
            }
        }
    }
    button{
      @include btn;
    }
}

// HEADER
header{
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-image: url(img/header-bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    @media(max-width:768px){
        height: 90vh;
    }

    img{
        width: 300px;
        height: auto;
        padding: $padding;
        @media(max-width:768px){
            padding: 50px 0;
        }
    }

    h1{
        font-size: 3rem;
        @media(max-width:768px){
            font-size: 2rem;
        }
    }

    P{
        padding: 20px 0;
    }

    button{
     @include btn1;
    }
}

// DEVELOPERS
.developers{
    display: flex;
    padding: $padding;
    flex-wrap: wrap;
    align-items: center;

    article{
        &:first-child{
            flex: 1;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }

        &:last-child{
            flex: 1;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
            img{
                width: 100%;
                background-size: auto;
            }
        }

        h2{
            font-size: 2rem;
            letter-spacing: 2px;
            padding: 10px 0px;
        }
    }
   

}