/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #20123a; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.4s ease; }

.container {
  width: 80%;
  margin: auto; }

/*---------------------------------
    NAV
-----------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  @media (max-width: 768px) {
    nav {
      flex-direction: column; } }
  nav ul {
    display: flex; }
    nav ul li {
      padding: 0px 20px; }
      @media (max-width: 768px) {
        nav ul li {
          padding: 0 10px; } }
      nav ul li a {
        color: #08204e;
        font-weight: 700;
        font-size: 1.2rem; }
        nav ul li a:hover {
          color: #0060df; }
  nav button {
    padding: 5px 20px;
    font-size: 1.2rem;
    border: 2px solid #0060df;
    background: none;
    color: #0060df; }
    nav button:hover {
      background: #0250bb;
      transition: 0.4s ease;
      color: #fff; }

/*---------------------------------
    HEADER
-----------------------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-image: url(img/header-bottom.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto; }
  @media (max-width: 768px) {
    header {
      height: 90vh; } }
  header img {
    width: 300px;
    height: auto;
    padding: 70px 0px; }
    @media (max-width: 768px) {
      header img {
        padding: 50px 0; } }
  header h1 {
    font-size: 3rem; }
    @media (max-width: 768px) {
      header h1 {
        font-size: 2rem; } }
  header P {
    padding: 20px 0; }
  header button {
    padding: 15px 30px;
    background: #0060df;
    border: none;
    color: #fff;
    font-size: 1.3rem; }
    header button:hover {
      background: #08204e;
      transition: 0.4s ease; }

/*---------------------------------
    DEVELOPERS
-----------------------------------*/
.developers {
  display: flex;
  padding: 70px 0px;
  flex-wrap: wrap;
  align-items: center; }
  .developers article:first-child {
    flex: 1; }
    @media (max-width: 768px) {
      .developers article:first-child {
        flex: 0 0 100%; } }
  .developers article:last-child {
    flex: 1; }
    @media (max-width: 768px) {
      .developers article:last-child {
        flex: 0 0 100%; } }
    .developers article:last-child img {
      width: 100%;
      background-size: auto; }
  .developers article h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 10px 0px; }

/*---------------------------------
    ABOUT
-----------------------------------*/
.about {
  display: flex;
  padding: 70px 0px;
  justify-content: space-between;
  flex-wrap: wrap; }
  .about article img {
    width: 100%;
    background-size: auto; }
  .about article p {
    padding: 20px 0px; }
  .about article h2 {
    font-size: 2rem;
    font-weight: 700; }
  .about article:first-child {
    flex: 0 0 45%; }
    @media (max-width: 768px) {
      .about article:first-child {
        flex: 0 0 100%; } }
  .about article:nth-child(2) {
    flex: 0 0 45%; }
    @media (max-width: 768px) {
      .about article:nth-child(2) {
        flex: 0 0 100%; } }
  .about article:nth-child(3) {
    flex: 0 0 45%;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .about article:nth-child(3) {
        flex: 0 0 100%; } }
  .about article:nth-child(4) {
    flex: 0 0 45%;
    margin-top: 50px; }
    @media (max-width: 768px) {
      .about article:nth-child(4) {
        flex: 0 0 100%; } }

/*---------------------------------
    TOOLS
-----------------------------------*/
.tools {
  padding: 70px 0px; }
  .tools hgroup {
    text-align: center;
    color: #000; }
    .tools hgroup h2 {
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: 2px; }
  .tools .container {
    display: flex;
    padding: 70px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center; }
    .tools .container article {
      padding: 20px 0px; }
      .tools .container article h3 {
        padding: 20px 0px;
        font-size: 1.5rem; }
      .tools .container article:first-child {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:first-child {
            flex: 0 0 100%; } }
      .tools .container article:nth-child(2) {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:nth-child(2) {
            flex: 0 0 100%; } }
      .tools .container article:nth-child(3) {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:nth-child(3) {
            flex: 0 0 100%; } }
      .tools .container article:nth-child(4) {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:nth-child(4) {
            flex: 0 0 100%; } }
      .tools .container article:nth-child(5) {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:nth-child(5) {
            flex: 0 0 100%; } }
      .tools .container article:nth-child(6) {
        flex: 0 0 30%; }
        @media (max-width: 768px) {
          .tools .container article:nth-child(6) {
            flex: 0 0 100%; } }

/*---------------------------------
    FOOTER
-----------------------------------*/
footer {
  background-color: #08204e;
  color: #fff;
  padding: 70px 0px; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    footer .container article {
      flex: 0 0 30%; }
      footer .container article ul li {
        padding: 10px 0px; }
        footer .container article ul li a {
          color: #fff; }
          footer .container article ul li a:hover {
            color: #0060df; }

/*# sourceMappingURL=style.css.map */
