/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: $fontFamily;
    line-height: 1.6;
    color: $fontColor;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 80%;
    margin: auto;
}

/*---------------------------------
    NAV
-----------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    @media(max-width:768px){
        flex-direction: column; 
    }

    ul{
        display: flex;

        li{
            padding: 0px 20px;
            @media(max-width:768px){
                padding: 0 10px;  
            }

            a{
               color: $darkBlue;
               font-weight: 700;
               font-size: 1.2rem;
               &:hover{
                   color: $blue;
               }
            }
        }
    }
    button{
      @include btn;
    }
}

/*---------------------------------
    HEADER
-----------------------------------*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-image: url(img/header-bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    @media(max-width:768px){
        height: 90vh;
    }

    img{
        width: 300px;
        height: auto;
        padding: $padding;
        @media(max-width:768px){
            padding: 50px 0;
        }
    }

    h1{
        font-size: 3rem;
        @media(max-width:768px){
            font-size: 2rem;
        }
    }

    P{
        padding: 20px 0;
    }

    button{
     @include btn1;
    }
}

/*---------------------------------
    DEVELOPERS
-----------------------------------*/
.developers{
    display: flex;
    padding: $padding;
    flex-wrap: wrap;
    align-items: center;

    article{
        &:first-child{
            flex: 1;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }

        &:last-child{
            flex: 1;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
            img{
                width: 100%;
                background-size: auto;
            }
        }

        h2{
            font-size: 2rem;
            letter-spacing: 2px;
            padding: 10px 0px;
        }
    }
   
}

/*---------------------------------
    ABOUT
-----------------------------------*/
.about{
    display: flex;
    padding: $padding;
    justify-content: space-between;
    flex-wrap: wrap;

    article{

        img{
            width: 100%;
            background-size: auto;
        }

        p{
            padding: 20px 0px;
        }

        h2{
            font-size: 2rem;
            font-weight: 700;
        }


        &:first-child{
            flex: 0 0 45%;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }

        &:nth-child(2){
            flex: 0 0 45%;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }
        &:nth-child(3){
            flex: 0 0 45%;
            margin-top: 50px;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }
        &:nth-child(4){
            flex: 0 0 45%;
            margin-top: 50px;
            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }
    }

}

/*---------------------------------
    TOOLS
-----------------------------------*/
.tools{
    padding: $padding;

    hgroup{
        text-align: center;
        color: #000;

        h2{
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }

    .container{
        display: flex;
        padding: $padding;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;

        article{
            padding: 20px 0px;

            h3{
                padding: 20px 0px;
                font-size: 1.5rem;
            }

            &:first-child{
                @include tools;
            }

            &:nth-child(2)
            {
                @include tools;
            }
            &:nth-child(3)
            {
                @include tools;
            }
            &:nth-child(4)
            {
                @include tools;
            }
            &:nth-child(5)
            {
                @include tools;
            }
            &:nth-child(6)
            {
               @include tools;
            }
        }
    }
}

/*---------------------------------
    FOOTER
-----------------------------------*/
footer{

    background-color: $darkBlue;
    color: $white;
    padding: $padding;

    .container{
        display: flex;
        justify-content: space-between;

        article{

            flex:0 0 30%;
            ul{
                li{
                    padding: 10px 0px;
                    a{
                        color: $white;
                        &:hover{
                            color: $blue;
                        }
                    }
                }
            }

        }
    }
}
