@mixin btn ($border, $color) {
    background: none;
    border: $border;
    color: $color;
    padding: 15px 30px;
    font-size: 1.2rem;

    &:hover{
        transition: $transition;
        background-color: $white;
        color: $primary;
        cursor: pointer;
    }
}

@mixin flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}