@import '../variables.scss';
@import '../mixins.scss';


.about{
    padding: $padding;
    background-color: $aboutBgColor;

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 45%;
            @media(max-width:768px){
                flex: 0 0 100%;
            }

            h3{
                font-size: 2rem;
            }

            p{
                padding-top: 20px;
            }

            &:last-child{
                @include flex(space-between, center, row, nowrap);
            }

            .card{
                width: 45%;
                text-align: center;
                background-color: $white;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);

                &:hover{
                    transform: scale(1.2);
                    transition-duration: 1.5s;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
                }

                @media(max-width:768px){
                    margin-top: 20px;
                }

                h4{
                    font-size: 1.6rem;
                }

                p{
                    padding-bottom: 20px;
                }
            }
        }
    }
}