@import '../variables.scss';
@import '../mixins.scss';



.about
{
    @include flex(center, center, row, wrap);
    padding: $padding;
    @media(max-width:768px){
       padding: 50px 0px;
    }

    article{
        flex: 1;
        @media(max-width:768px){
            flex: 0 0 100%;
            margin-top: 30px;
        }  

        &:last-child{
            img{
                width: 100%;
                height: 300px;
            }
        }

        &:first-child{  
            @include flex(center, start, column, wrap);
            padding-right: 40px;

            h1{
                font-size: 3rem;
                color: $darkBlue;
                &::after {
                    @extend .line;
                }
            }

            p{
                padding-right: 50px;
               
            }
        }
    }
}