@import '../variables.scss';
@import '../mixins.scss';


/*---------------------------------
   HEADER
-----------------------------------*/
header
{
    background-image:linear-gradient( rgba(29, 82, 124, .7), rgba(253, 127, 69, .7),), url(../img/baloon.jpg);
    background-size: cover;
    background-position: center;
    height: 94vh;
    color: $white;
    text-align: center;
    @include flex(center, center, column, wrap);
    @media(max-width:768px){
        height: 80vh;
    }

    h2{
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 1.3px;
        line-height: 1.3;
        @media(max-width:768px){
            font-size: 1.9rem;
        }

        span{
            font-style: italic;
            font-weight: 700;
        }
    }

    p{
        padding: 20px 0;
        font-size: 1.2rem;
    }

    button{
        @include btn(none, 2px solid $white, $white);
        &:hover{
            background-color: $white;
            color: $darkBlue;
        }
    }
}