@mixin flex ($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}

@mixin img ($bg, $width, $height) {
    background-image: $bg;
    width: $width;
    height: $height;
    background-position: center;
    background-size: cover;
    
}

@mixin btn ($bg, $border) {
    background-color: $bg;
    color: $white;
    padding: 20px 30px;
    border: $border;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px 10px 0px 0px;
    &:hover
    {
        background-color:$purple ;
        transition: $transition;
    }
}

@mixin animation ($name, $duration, $mode) {
    @keyframes #{$name} {
      from
      {
          color: $purple;
      }
      to
      {
        color: $yellow; 
      }
    }
    animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: $mode;
  
  }


  @mixin project-section ($bg) {
    background-image: $bg;
    background-position: center;
    background-size: cover;

    &:hover{
        transition-duration: 1s;
        transform: scale(1.1);
    }   
}