/*-----------------------
GOOGLE FONTS
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*-----------------------
EXTERNAL FILES
------------------------*/
@import 'variables.scss';
@import 'mixins.scss';

/*-----------------------
DEFAULT STYLES
------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $bodyFont;
    font-size:$sizeFont;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 90%;
    margin: auto;
}