/*-----------------------
GOOGLE FONTS
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*-----------------------
EXTERNAL FILES
------------------------*/
@import 'variables.scss';
@import 'mixins.scss';

/*-----------------------
DEFAULT STYLES
------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $bodyFont;
    font-size:$sizeFont;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 90%;
    margin: auto;
}

/*-----------------------
HEADER
------------------------*/
header
{
    @include img(url(/img/front-page-header.jpg), 100%, 100vh);

    @media(max-width:768px){
        height: 90vh;
    }

    nav {
        @include flex(space-between, center, row, wrap);
        padding: 20px 50px;
    
        @media(max-width:768px){
            flex-direction: column;
            padding: 20px 15px;
        }

        ul {
            display: flex;

            li {
                padding: 0 20px;

                a  {
                    color: $white;
                    font-weight: 600;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
    
    hgroup {
        @include flex(center, center, column, nowrap);
       height: 80vh;
       color: $white;

       @media(max-width:768px){
        height: 60vh;
       }

       h1 {
           font-size: 5rem;
           @include animation (animation, 3s, forwards);

           @media(max-width:768px){
               font-size: 3.5rem;
           }
       }

       span {
           color: $yellow;
       }

       .btn-area {
           padding: $padding;

            .btn{
                @include btn(rgba(0, 0, 0, .2), 1px solid $white);
            }

            .btn1{
                 @include btn($yellow, none);
            }
       }
     
    }
}