/*-----------------------
GOOGLE FONTS
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*-----------------------
EXTERNAL FILES
------------------------*/
@import 'variables.scss';
@import 'mixins.scss';

/*-----------------------
DEFAULT STYLES
------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $bodyFont;
    font-size:$sizeFont;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 90%;
    margin: auto;
}

/*-----------------------
HEADER
------------------------*/
header
{
    @include img(url(/img/front-page-header.jpg), 100%, 100vh);

    @media(max-width:768px){
        height: 90vh;
    }

    nav {
        @include flex(space-between, center, row, wrap);
        padding: 20px 50px;
    
        @media(max-width:768px){
            flex-direction: column;
            padding: 20px 15px;
        }

        ul {
            display: flex;

            li {
                padding: 0 20px;

                a  {
                    color: $white;
                    font-weight: 600;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
    
    hgroup {
        @include flex(center, center, column, nowrap);
       height: 80vh;
       color: $white;

       @media(max-width:768px){
        height: 60vh;
       }

       h1 {
           font-size: 5rem;
           @include animation (animation, 3s, forwards);

           @media(max-width:768px){
               font-size: 3.5rem;
           }
       }

       span {
           color: $yellow;
       }

       .btn-area {
           padding: $padding;

            .btn{
                @include btn(rgba(0, 0, 0, .2), 1px solid $white);
            }

            .btn1{
                 @include btn($yellow, none);
            }
       }
     
    }
}

/*-----------------------
PROJECTS
------------------------*/
.projects
{
    text-align: center;
    padding: $padding;

    h3 {
        font-size: 2rem;
    }
    
    p {
        margin: 20px 0;
    }

    .images{
        display: grid;
        width: 100%;
        height: 400px;
        grid-template-columns: auto auto auto auto;

        @media(max-width:768px){
            grid-template-columns: auto auto;
            grid-template-rows: 30vh 30vh;                      
        }

        .img1 {
          @include project-section(url(../img/front-page-project-1.jpg));
        }

        .img2 {
            @include project-section(url(../img/front-page-project-1.png));
        }

        .img3{
            @include project-section(url(../img/front-page-project-2.jpg));
        }

        .img4{
            @include project-section(url(../img/front-page-project-2.png));
        }
    }
}

/*-----------------------
SERVICES
------------------------*/
.services
{
    padding: $padding;
    text-align: center;
   
    h3 {
        font-size: 2rem;
    }

    .container{
        @include flex(space-between, center, row, wrap);
         margin-top: 40px;

        article{
            flex: 0 0 30%;
            margin-top: 20px;

            @media(max-width:768px){
                flex: 0 0 100%;
            }
        }

        article{

            &:first-child{

                i {
                    color: $red;
                    font-size: 2rem;
                }

                h4 {
                    color: $red;
                    padding: 10px 0;
                    font-size: 1.6rem;
                }
            }
        }

        article
        {
            &:nth-child(2){

                i {
                    color: $yellow;
                    font-size: 2rem;
                }
               
                h4 {
                    color: $yellow;
                    padding: 10px 0;
                    font-size: 1.6rem;
                }
            }
        }

        article
        {
            &:nth-child(3){

                i {
                    color: $purple;
                    font-size: 2rem;
                }

                h4 {
                    color: $purple;
                    padding: 10px 0;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

/*-----------------------
NEWS
------------------------*/
.news
{
    text-align: center;
    padding: $padding;
    background-color: $background;
    color: $white;

    h3 {
        font-size: 2rem;
    }

    .row{
        @include flex(space-between, center, row, wrap);
        // margin-top: 20px;
        article
        {
            margin-top: 20px;
            flex: 0 0 30%;

            @media(max-width:768px){
                flex: 0 0 100%;
            }

            &:hover{
                transition-duration: 2s;
                transform: rotateY(360deg);
            }

            img {
                width: 100%;
            }

            .text{
                background-color: $white;
                color: $gray;
                height: 270px;
                overflow: auto;

                @media(max-width:768px){
                    height: 200px;
                }

                h4 {
                    font-size: 1.5rem;
                    padding: 10px 20px;
                    text-align: left;   
                }

                p{
                    padding: 0px 20px;
                    text-align: left;
                }
            }
        }
    }
}

/*-----------------------
TEAM
------------------------*/
.team
{
    padding: $padding;
    text-align: center;

    h3{
        font-size: 2rem;
    }

    .container{
        @include flex(space-between, center, row, wrap);
        margin-top: 40px;

        article{
            flex: 0 0 30%;

            @media(max-width:768px){
                flex: 0 0 100%;
            }

            &:first-child{
                 
                p{
                    color: $red;
                    font-weight: bolder;
                }

                i{
                    font-size: 2rem;
                    padding: 20px 20px 0 0;
                    color: $red;

                    &:hover{
                        transition-duration: 2s;
                        transform: rotate(360deg);
                    }
                }
            }
            &:nth-child(2){
                 
                p{
                    color: $purple;
                    font-weight: bolder;
                }

                i{
                    font-size: 2rem;
                    padding: 20px 20px 0 0;
                    color: $purple;

                    &:hover{
                        transition-duration: 2s;
                        transform: rotate(360deg);
                    }
                }
            }
            
            &:nth-child(3){
                 
                p{
                    color: $yellow;
                    font-weight: bolder;
                }
                
                i{
                    font-size: 2rem;
                    padding: 20px 20px 0 0;
                    color: $yellow;

                    &:hover{
                        transition-duration: 2s;
                        transform: rotate(360deg);
                    }
                }
            }

            h4{
                font-size: 1.5rem;
                padding: 15px 0;
            }
           
        }

    }
}