$bodyFont:'Montserrat', sans-serif;
$sizeFont:16px;
$transition: .4 ease;
$padding:50px 0px;
$white: #fff;
$yellow: #f1d204;
$purple:#6a4d8a;
$gray:#444;
$red:rgb(241, 139, 109);
$background:#222f36;
$gray1:rgb(232, 232, 232);
$footer:#292825;