@mixin btn ($bg, $border, $color) {
    background: $bg;
    padding: 15px 30px;
    border: $border;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $color;
    &:hover{
        transition: $transition;
        cursor: pointer;

    }
}

@mixin images($bg){
    background-image:$bg;
    background-position: center;
     background-size: cover;
     height: 500px;
    flex: 0 0 30%;
     margin-top: 40px;
     border-bottom: 15px solid $lightBlue;
     position: relative;

     @media(max-width:768px){
      flex: 0 0 100%;
      }

      &:hover{
        transform: scale(1.1);
        transition-duration: 1.4s;
      }
}

@mixin flex ($justify, $align, $direction, $wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}
