/*---------------------------------
   GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap');


/*---------------------------------
   PARTIALS
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';
@import 'partials/_default';
@import 'partials/_nav';
@import 'partials/_header';
@import 'partials/_about';
@import 'partials/_services';
@import 'partials/_blog';
@import 'partials/_gallery';
@import 'partials/_footer';










