// MIXINS

@mixin flex ($justify, $align, $direction, $wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;

}

@mixin btn {
    border: none;
    color: $white;
    background-color: $lighBlue;
    padding: 10px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 20px 0px 20px 0px;
    &:hover{
        border-radius: 0px 20px 0px 20px;
        background-color: $pink;
        transition: $transition;
        cursor: pointer;
    }
    
}

@mixin image ($bg, $height, $width) {
    background-image:$bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: $height;
    width: $width;
    
}

@mixin place {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: $lighBlue;
    padding: 50px;
    height: 50vh;
    @media(max-width:768px){
        flex: 0 0 100%;
        margin: 0;
        padding: 30px;
    }

    h3{
        color: $white;
        font-size: 2rem;
        font-weight: 300;
    }
    
    p{
        color: $white;
    }

    button{
        @include btn;
        background-color: $white;
        color: $lighBlue;
    }
}
