/*********************
GOOGLE FONTS 
*********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;300&display=swap');


/*********************
EXTERNAL FILES
*********************/
@import 'mixins.scss';
@import 'variables.scss';
@import 'partials/_default';
@import 'partials/_nav';
@import 'partials/_header';
@import 'partials/_about';
@import 'partials/_topplaces';
@import 'partials/_continents';
@import 'partials/_hotels';
@import 'partials/_footer';