/*********************
GOOGLE FONTS 
*********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;300&display=swap');


/*********************
EXTERNAL FILES
*********************/
@import 'mixins.scss';
@import 'variables.scss';


/*********************
DEFAULT STYLES
*********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    font-size: $fSize;
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Roboto Mono', monospace;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;

    &:hover{
        transition: $transition;
    }
}

/*********************
NAV
*********************/
nav{
    background-color: $white;
    padding: 20px 50px;
    @include flex(space-between, center, row, wrap);
    @media(max-width:768px){
        flex-direction: column;
    }

    .logo{
        @include flex(center, center, row, wrap);
        text-transform: uppercase;

        h1{
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 2rem;
            @media(max-width:768px){
                font-size: 1.5rem;
            }
        }
    }

    ul{
        display: flex;

        li{
            padding: 0 10px;
            border-right: 2px solid $black;
            @media(max-width:768px){
                padding: 0 5px;
            }

            a{
                color: $black;
                text-transform: uppercase;
                &:hover{
                    color: $lighBlue;
                    transition: $transition;
                }
            }

            .active{
                color: $lighBlue;
            }
        }
    }
}

/*********************
HEADER
*********************/
header{
    @include image (url(../img/banner.jpg), 80vh, 100%);
    @include flex (center, center, column, wrap);
    color: $white;

    h1{
        font-size: 3rem;
        font-weight: 300;
        text-shadow: 0 0 15px $black;
    }

    p{
        font-weight: 100;
        font-size: 1.4rem;
        color: $black;
        font-weight: 600;
    }

    button{
        @include btn;
    }
}

/*********************
ABOUT
*********************/
.about{
    padding: $padding;
    text-align: center;
    background-color: $gray;

    h1{
        font-weight: 300;
        font-size: 2rem;

        span{
            font-weight: 600;
        }
    }
    p{
        font-size: 0.8rem;
    }

    button{
        @include btn;
    }
}

/*********************
TOP PLACES
*********************/
.places{

    .row{
        display: flex;
        flex-wrap: wrap;

        article{

            &:first-child{
                @include image(url(../img/tm-img-01.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                    flex: 0 0 100%;
                }
            }

            &:nth-child(2){
                @include place;
            }

            &:nth-child(3){
                @include image (url(../img/tm-img-03.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                flex: 0 0 100%;
                }
            }

            &:nth-child(4){
                @include place;
            }

            &:nth-child(5){
                @include image (url(../img/tm-img-06.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                flex: 0 0 100%;
                }
            }

            &:nth-child(6){
                @include place;
                
            }
        }
    }

}