/*********************
GOOGLE FONTS 
*********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;300&display=swap');


/*********************
EXTERNAL FILES
*********************/
@import 'mixins.scss';
@import 'variables.scss';


/*********************
DEFAULT STYLES
*********************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    font-size: $fSize;
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Roboto Mono', monospace;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;

    &:hover{
        transition: $transition;
    }
}