/*-----------------------
GOOGLE FONTS
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*-----------------------
EXTERNAL FILES
------------------------*/
/*-----------------------
DEFAULT STYLES
------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.4 ease; }

.container {
  width: 90%;
  margin: auto; }

/*-----------------------
HEADER
------------------------*/
header {
  background-image: url(/img/front-page-header.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; }
  @media (max-width: 768px) {
    header {
      height: 90vh; } }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 50px; }
    @media (max-width: 768px) {
      header nav {
        flex-direction: column;
        padding: 20px 15px; } }
    header nav ul {
      display: flex; }
      header nav ul li {
        padding: 0 20px; }
        header nav ul li a {
          color: #fff;
          font-weight: 600; }
          header nav ul li a:hover {
            color: #f1d204; }
  header hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    color: #fff; }
    @media (max-width: 768px) {
      header hgroup {
        height: 60vh; } }
    header hgroup h1 {
      font-size: 5rem;
      animation-name: animation;
      animation-duration: 3s;
      animation-fill-mode: forwards; }
@keyframes animation {
  from {
    color: #6a4d8a; }
  to {
    color: #f1d204; } }
      @media (max-width: 768px) {
        header hgroup h1 {
          font-size: 3.5rem; } }
    header hgroup span {
      color: #f1d204; }
    header hgroup .btn-area {
      padding: 50px 0px; }
      header hgroup .btn-area .btn {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        padding: 20px 30px;
        border: 1px solid #fff;
        font-size: 1.2rem;
        font-weight: bolder;
        margin: 10px 10px 0px 0px; }
        header hgroup .btn-area .btn:hover {
          background-color: #6a4d8a;
          transition: 0.4 ease; }
      header hgroup .btn-area .btn1 {
        background-color: #f1d204;
        color: #fff;
        padding: 20px 30px;
        border: none;
        font-size: 1.2rem;
        font-weight: bolder;
        margin: 10px 10px 0px 0px; }
        header hgroup .btn-area .btn1:hover {
          background-color: #6a4d8a;
          transition: 0.4 ease; }

/*-----------------------
PROJECTS
------------------------*/
.projects {
  text-align: center;
  padding: 50px 0px; }
  .projects h3 {
    font-size: 2rem; }
  .projects p {
    margin: 20px 0; }
  .projects .images {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: auto auto auto auto; }
    @media (max-width: 768px) {
      .projects .images {
        grid-template-columns: auto auto;
        grid-template-rows: 30vh 30vh; } }
    .projects .images .img1 {
      background-image: url(../img/front-page-project-1.jpg);
      background-position: center;
      background-size: cover; }
      .projects .images .img1:hover {
        transition-duration: 1s;
        transform: scale(1.1); }
    .projects .images .img2 {
      background-image: url(../img/front-page-project-1.png);
      background-position: center;
      background-size: cover; }
      .projects .images .img2:hover {
        transition-duration: 1s;
        transform: scale(1.1); }
    .projects .images .img3 {
      background-image: url(../img/front-page-project-2.jpg);
      background-position: center;
      background-size: cover; }
      .projects .images .img3:hover {
        transition-duration: 1s;
        transform: scale(1.1); }
    .projects .images .img4 {
      background-image: url(../img/front-page-project-2.png);
      background-position: center;
      background-size: cover; }
      .projects .images .img4:hover {
        transition-duration: 1s;
        transform: scale(1.1); }

/*-----------------------
SERVICES
------------------------*/
.services {
  padding: 50px 0px;
  text-align: center; }
  .services h3 {
    font-size: 2rem; }
  .services .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px; }
    .services .container article {
      flex: 0 0 30%;
      margin-top: 20px; }
      @media (max-width: 768px) {
        .services .container article {
          flex: 0 0 100%; } }
    .services .container article:first-child i {
      color: #f18b6d;
      font-size: 2rem; }
    .services .container article:first-child h4 {
      color: #f18b6d;
      padding: 10px 0;
      font-size: 1.6rem; }
    .services .container article:nth-child(2) i {
      color: #f1d204;
      font-size: 2rem; }
    .services .container article:nth-child(2) h4 {
      color: #f1d204;
      padding: 10px 0;
      font-size: 1.6rem; }
    .services .container article:nth-child(3) i {
      color: #6a4d8a;
      font-size: 2rem; }
    .services .container article:nth-child(3) h4 {
      color: #6a4d8a;
      padding: 10px 0;
      font-size: 1.6rem; }

/*-----------------------
NEWS
------------------------*/
.news {
  text-align: center;
  padding: 50px 0px;
  background-color: #222f36;
  color: #fff; }
  .news h3 {
    font-size: 2rem; }
  .news .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .news .row article {
      margin-top: 20px;
      flex: 0 0 30%; }
      @media (max-width: 768px) {
        .news .row article {
          flex: 0 0 100%; } }
      .news .row article:hover {
        transition-duration: 2s;
        transform: rotateY(360deg); }
      .news .row article img {
        width: 100%; }
      .news .row article .text {
        background-color: #fff;
        color: #444;
        height: 270px;
        overflow: auto; }
        @media (max-width: 768px) {
          .news .row article .text {
            height: 200px; } }
        .news .row article .text h4 {
          font-size: 1.5rem;
          padding: 10px 20px;
          text-align: left; }
        .news .row article .text p {
          padding: 0px 20px;
          text-align: left; }

/*-----------------------
TEAM
------------------------*/
.team {
  padding: 50px 0px;
  text-align: center; }
  .team h3 {
    font-size: 2rem; }
  .team .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px; }
    .team .container article {
      flex: 0 0 30%; }
      @media (max-width: 768px) {
        .team .container article {
          flex: 0 0 100%; } }
      .team .container article:first-child p {
        color: #f18b6d;
        font-weight: bolder; }
      .team .container article:first-child i {
        font-size: 2rem;
        padding: 20px 20px 0 0;
        color: #f18b6d; }
        .team .container article:first-child i:hover {
          transition-duration: 2s;
          transform: rotate(360deg); }
      .team .container article:nth-child(2) p {
        color: #6a4d8a;
        font-weight: bolder; }
      .team .container article:nth-child(2) i {
        font-size: 2rem;
        padding: 20px 20px 0 0;
        color: #6a4d8a; }
        .team .container article:nth-child(2) i:hover {
          transition-duration: 2s;
          transform: rotate(360deg); }
      .team .container article:nth-child(3) p {
        color: #f1d204;
        font-weight: bolder; }
      .team .container article:nth-child(3) i {
        font-size: 2rem;
        padding: 20px 20px 0 0;
        color: #f1d204; }
        .team .container article:nth-child(3) i:hover {
          transition-duration: 2s;
          transform: rotate(360deg); }
      .team .container article h4 {
        font-size: 1.5rem;
        padding: 15px 0; }

/*-----------------------
FOOTER
------------------------*/
footer {
  padding: 50px 0px;
  background-color: #292825;
  color: #fff; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    footer .container article {
      flex: 0 0 30%;
      margin-top: 20px; }
      footer .container article h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 10px; }
      footer .container article ul li {
        padding: 5px 0; }
        footer .container article ul li a {
          color: #fff; }
          footer .container article ul li a:hover {
            color: #6a4d8a; }

/*# sourceMappingURL=style.css.map */
