/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DAFAULT STYLES
-----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    line-height: 1.3;
    font-family: $fontFamily;
    font-size: $fontSize;
    background-color: #f7f7f7;
}

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style-type: none;
}