/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables.scss';
@import 'mixins.scss';


/*---------------------------------
    DAFAULT STYLES
-----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    line-height: 1.3;
    font-family: $fontFamily;
    font-size: $fontSize;
    background-color: #f7f7f7;
}

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style-type: none;
}

/*---------------------------------
    NAV
-----------------------------------*/
nav{
    background-color: $primary;
    padding: 20px;
    @include flex(space-between, center,row, wrap);

    article{
        flex: 0 0 30%;

        &:nth-child(1){
           @include flex(flex-start, center, row, wrap);

            @media(max-width:768px){
                flex-direction: column;
            }
            
            img{
                width: 80px;
            }

            a{
                text-decoration: none;
                color: $white;
                font-weight: 700;
                font-size: 1.5rem;
                margin-left: 20px;

                &:hover{
                    transition: $transition;
                    color: $lightgray;
                }
            }

        }

        &:nth-child(2){
            color: $white;
            font-size: 0.9rem;
            @include flex(space-around, center, row, wrap);

            @media(max-width:768px){
                flex-direction: column;
            }
        }

        &:nth-child(3){
            @include flex(flex-end, center, row, wrap);
    
            button{
             @include btn(1px solid $white, $white);
            }
        }
    }
}

/*---------------------------------
    HEADER
-----------------------------------*/
header{
    @include img(80vh, 100%);
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/header.jpg); 
    @include flex(center, center, column, wrap);
    color: $white;

    h1{
        font-size: 3rem;
    }
    p{
        padding: 20px 0px;
        text-align: center;
    }

    .btn{
        @include flex(space-betweens, center, row, wrap);

        button{
            
            &:first-child{
                @include btn(1px solid $tertiary, $white);
                margin-right: 10px;

                &:hover{
                    border: none;
                }
            }

            &:last-child{
               @include btn(1px solid $white, $white);
            }
        }
    }
}

/*---------------------------------
   PRICE
-----------------------------------*/
.price{
    padding: $padding;
    @include flex(center, center, row, wrap);
    
    article{
        flex: 1;
        border: 1px solid $lightgray;
        text-align: center;
        padding: 30px;

        @media(max-width:768px){
            flex: 0 0 100%;
        }

        &:hover{
            transform: scale(1.1);
            background: $white;
            transition-duration: .2s;
        }

        h2{
            font-size: 1.6rem;
        }

        p{
            padding: 30px 0px;
        }

        .drugi{
            font-size: 4rem;
            color: $darkblue;
            padding: 20px 0px;
        }

        button{
           @include btn(1px solid $tertiary, $tertiary);

           &:hover{
            background-color: $tertiary;
            color: $white
           }
        }
    }
}

/*---------------------------------
    ADVANTAGES
-----------------------------------*/
.advantages{
    @include img(90vh, 100%);
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/bg2.jpg);
    padding: $padding;
    text-align: center;

    @media(max-width:768px){
        height: 250vh;
    }

    h2{
        color: $white;
        font-size: 3.5rem;
        letter-spacing: 1.8px;
    }
    .line{
        display: block;
        content: "";
        background-color: $secondary;
        height: 4px;
        margin: 10px auto;
        width: 150px;
    }

    .container{
        @include flex(space-between, center, row, wrap);
        margin-top: 50px;

        article{
            flex: 0 0 30%;
            background-color: $white;
            border: 2px solid $white;
            border-radius: 10px;

            @media(max-width:768px){
                flex: 0 0 100%;
                margin-top: 20px;
            }

            img{
                width: 100%; 
            }
            h4{
                padding: 20px;
                text-align: left;
                font-size: 1.7rem;
                font-weight: 300;
            }

            p{
                text-align: left;
                font-weight: 300;
                padding: 0px 20px;
            }

            button{
                @include btn(1px solid $tertiary, $tertiary);
                margin: 20px 0px;

                &:hover{
                   
                    background-color: $tertiary;
                    color: $white
                }   
            }
        }
    }
}

/*---------------------------------
    TEAM
-----------------------------------*/
.team{
    padding: $padding;
    text-align: center;

    h2{
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            @include flex(space-between, center, row, wrap);
            flex: 0 0 45%;
            margin-top: 70px;
            height: 25vh;
            overflow: hidden;
           

            @media(max-width:768px){
                flex: 0 0 100%;
            }

            &:hover{
                box-shadow: 0 0 15px;
                transition: $transition;
            }

            .text{
                flex:0 0 45%;
                text-align: left;
                padding: 20px 0px 20px 20px;;

                h4{
                    font-size: 1.6rem;
                }
                p{
                    padding-top: 20px;
                }
            }

            .images{
                flex: 0 0 45%;
                
                img{
                    @include img(25vh, 100%);
                }
            }          
        }
    }
}

/*---------------------------------
    SERVICES
-----------------------------------*/
.services{
    padding: $padding;
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(img/bg2.jpg);
    @include img(70vh, 100%);
    color: $white;

    @media(max-width:768px){
        height: 100vh;
    }

    .container{
        @include flex(space-between, center, row, wrap);

        article{
            flex: 0 0 45%;

            @media(max-width:768px){
                flex: 0 0 100%;  
            }

            h3{
                font-size: 2rem;
                font-weight: 400;
                padding: 20px 0px;
            }

            button{
                @include btn(1px solid $white, $white);
                margin-top: 20px;
            }

            h5{
                font-size: 1.6rem;
            }

            &:first-child{
                text-align: center;
                border: 2px solid $white;
                padding: 30px;

                p{
                   margin: 20px 0px;
                }
            }
        }
    }
}