$darkBlue: #1d527c;  /* rgb(29, 82, 124) */
$lightBlue: #459ad3; /* rgb(69, 154, 211) */
$orange: #fd7f45;      /* rgb(253, 127, 69) */
$darkGray: #3c3b3c;
$lightGray: lightgray;
$white: #fff;
$transition: .3s ease;
$padding: 100px 40px;
$font:16px;