/*---------------------------------
   GOOGLE FONTS
-----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap");
/*---------------------------------
   PARTIALS
-----------------------------------*/
/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
/*---------------------------------
    DAFAULT STYLES
-----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 90%;
  margin: auto; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.3s ease; }

.line, .about article:first-child h1::after, .services .container article h1::after, .blog h1::after, .gallery h1::after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #fd7f45;
  margin: 10px 0; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
nav {
  background: linear-gradient(to right, #fd7f45, #1d527c);
  padding-top: 10px;
  padding: 5px 0; }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      nav .container {
        flex-direction: column; } }
    nav .container .logo {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center; }
      nav .container .logo:hover {
        color: lightgray; }
    nav .container ul {
      display: flex; }
      nav .container ul li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 0 30px; }
        @media (max-width: 768px) {
          nav .container ul li a {
            padding: 0 10px; } }
        nav .container ul li a:hover {
          color: lightgray; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
/*---------------------------------
   HEADER
-----------------------------------*/
header {
  background-image: linear-gradient(rgba(29, 82, 124, 0.7), rgba(253, 127, 69, 0.7)), url(../img/baloon.jpg);
  background-size: cover;
  background-position: center;
  height: 94vh;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    header {
      height: 80vh; } }
  header h2 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.3px;
    line-height: 1.3; }
    @media (max-width: 768px) {
      header h2 {
        font-size: 1.9rem; } }
    header h2 span {
      font-style: italic;
      font-weight: 700; }
  header p {
    padding: 20px 0;
    font-size: 1.2rem; }
  header button {
    background: none;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff; }
    header button:hover {
      transition: 0.3s ease;
      cursor: pointer; }
    header button:hover {
      background-color: #fff;
      color: #1d527c; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 40px; }
  @media (max-width: 768px) {
    .about {
      padding: 50px 0px; } }
  .about article {
    flex: 1; }
    @media (max-width: 768px) {
      .about article {
        flex: 0 0 100%;
        margin-top: 30px; } }
    .about article:last-child img {
      width: 100%;
      height: 300px; }
    .about article:first-child {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      flex-wrap: wrap;
      padding-right: 40px; }
      .about article:first-child h1 {
        font-size: 3rem;
        color: #1d527c; }
      .about article:first-child p {
        padding-right: 50px; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
.services {
  padding: 100px 40px;
  background-image: linear-gradient(rgba(29, 82, 124, 0.9), rgba(29, 82, 124, 0.9)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  background-attachment: fixed; }
  .services .container {
    display: flex;
    flex-wrap: wrap; }
    .services .container article {
      flex: 0 0 45%; }
      @media (max-width: 768px) {
        .services .container article {
          flex: 0 0 100%; } }
      .services .container article:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap; }
        @media (max-width: 768px) {
          .services .container article:first-child {
            order: 1; } }
        .services .container article:first-child i {
          font-size: 5rem;
          color: #fd7f45;
          flex: 0 0 50%; }
          @media (max-width: 768px) {
            .services .container article:first-child i {
              margin-top: 30px;
              text-align: center; } }
          .services .container article:first-child i:hover {
            transform: skewX(15deg);
            transition-duration: 1.4s;
            color: #459ad3; }
      .services .container article h1 {
        font-size: 3rem; }
      .services .container article p {
        margin-top: 30px; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
/*---------------------------------
   BLOG
-----------------------------------*/
.blog {
  padding: 100px 40px;
  text-align: center; }
  .blog h1 {
    font-size: 3rem;
    color: #1d527c;
    padding-bottom: 20px; }
    .blog h1::after {
      margin: 10px auto;
      background-color: #1d527c; }
  .blog .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .blog .container article {
      flex: 0 0 30%; }
      @media (max-width: 768px) {
        .blog .container article {
          flex: 0 0 100%; } }
      .blog .container article img {
        width: 100%;
        border-radius: 10%;
        border: 5px solid #fd7f45; }
        @media (max-width: 768px) {
          .blog .container article img {
            margin-top: 20px; } }
        .blog .container article img:hover {
          transform: scale(1.1);
          transition-duration: .3s; }
      .blog .container article h3 {
        font-size: 2rem;
        margin: 10px 0; }
      .blog .container article p {
        text-align: justify; }
      .blog .container article button {
        background: #fd7f45;
        padding: 15px 30px;
        border: 2px solid #fff;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #fff;
        margin-top: 20px;
        border-radius: 20px 0px 20px 0px; }
        .blog .container article button:hover {
          transition: 0.3s ease;
          cursor: pointer; }
        .blog .container article button:hover {
          border-radius: 0px 20px 0px 20px;
          background-color: #459ad3; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
.gallery {
  text-align: center;
  padding: 40px 0; }
  .gallery h1 {
    font-size: 2.5rem;
    color: #1d527c; }
    .gallery h1::after {
      margin: 10px auto; }
  .gallery .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .gallery .container h4 {
      background: #fd7f45;
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      padding: 10px;
      color: #fff; }
    .gallery .container .img1 {
      background-image: url(../img/works1.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img1 {
          flex: 0 0 100%; } }
      .gallery .container .img1:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }
    .gallery .container .img2 {
      background-image: url(../img/works2.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img2 {
          flex: 0 0 100%; } }
      .gallery .container .img2:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }
    .gallery .container .img3 {
      background-image: url(../img/works3.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img3 {
          flex: 0 0 100%; } }
      .gallery .container .img3:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }
    .gallery .container .img4 {
      background-image: url(../img/works4.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img4 {
          flex: 0 0 100%; } }
      .gallery .container .img4:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }
    .gallery .container .img5 {
      background-image: url(../img/works5.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img5 {
          flex: 0 0 100%; } }
      .gallery .container .img5:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }
    .gallery .container .img6 {
      background-image: url(../img/works1.jpg);
      background-position: center;
      background-size: cover;
      height: 500px;
      flex: 0 0 30%;
      margin-top: 40px;
      border-bottom: 15px solid #459ad3;
      position: relative; }
      @media (max-width: 768px) {
        .gallery .container .img6 {
          flex: 0 0 100%; } }
      .gallery .container .img6:hover {
        transform: scale(1.1);
        transition-duration: 1.4s; }

/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
footer {
  background-image: linear-gradient(to right, rgba(253, 127, 69, 0.8), rgba(29, 82, 124, 0.8)), url(../img/baloon.jpg);
  background-size: cover;
  background-position: top;
  height: 30vh;
  padding: 100px 40px;
  text-align: center; }
  footer i {
    font-size: 2rem;
    color: #1d527c;
    padding-left: 20px; }
    footer i:hover {
      color: #fd7f45;
      transition: 0.3s ease;
      transform: rotate(360deg);
      transition-duration: 1.4s;
      cursor: pointer; }
  footer p {
    color: #fff;
    font-size: 1.4rem;
    padding: 20px 0;
    font-style: italic; }

/*# sourceMappingURL=style.css.map */
