@import '../mixins.scss';
@import '../variables.scss';


.continents{
    background-color: $lighBlue;

    ul{
        display: flex;

        li{
            flex: 1;
            align-items: center;
            &:hover{
                background-color: $pink;
                transition: .4 ease;
                transition-duration: 2s;
            }

            a{
                img{
                    padding: 40px 0;
                    width: 90%;   
                }
            }
        }
    }
}