@import '../mixins.scss';
@import '../variables.scss';


.places{
    .row{
        display: flex;
        flex-wrap: wrap;

        article{
            &:first-child{
                @include image(url(../img/tm-img-01.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                    flex: 0 0 100%;
                }
            }

            &:nth-child(2){
                @include place;
            }

            &:nth-child(3){
                @include image (url(../img/tm-img-03.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                flex: 0 0 100%;
                }
            }

            &:nth-child(4){
                @include place;
            }

            &:nth-child(5){
                @include image (url(../img/tm-img-06.jpg), 50vh, 100%);
                flex: 0 0 50%;
                @media(max-width:768px){
                flex: 0 0 100%;
                }
            }

            &:nth-child(6){
                @include place;   
            }
        }
    }
}