@mixin flex ($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin img ($bg, $width, $height){
    background-image: $bg;
    width: $width;
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin btn ($border, $bg, $color){
    border: $border;
    background: $bg;
    padding: 15px 20px;
    color: $color;
    font-size: 1.2rem;
    border-radius: 10px;
}