/*-----------------
EXTERNAL FILES
-----------------*/
@import 'variables.scss';
@import 'mixins.scss';

/*-----------------
GOOGLE FONTS
-----------------*/
@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:400,700&display=swap');

/*-----------------
DEFAULT STYLES
-----------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.6;
    font-size:$fSize;
    font-family:$fontFamily;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        transition: $transition;
    }
}

.container{
    width: 90%;
    margin: auto;
}

/*-----------------
NAV
------------------*/
nav{

    padding: 10px 0px;
    background: linear-gradient(to right, $purple, $yellow);

    ul{
      @include flex(center, center, row, nowrap);

        li{
            padding: 0px 25px;
            @media(max-width:768px){
                padding: 0px 10px;
            }

           a{
            color: $white;
            text-transform: uppercase;
            &:hover{
                color: $purple;
            }

             i{
                    font-size: 1.5rem;
                }
           }  
        }
    }
}